*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
header{
    
    position: relative no-repeat;
    padding-bottom: 200px;
    padding-top: 40px;
    background: 100%;
    background: url(../img/man-in-raglan-sleeve-shirt-using-computer-2330137.jpg) center no-repeat ;
    background-size: cover;  
  
    
}
header .nav{
    justify-content: flex-end;
    align-items: center;
}
header .nav ul{
    padding: 0;
    margin: 0;
    float: right;
}
header .nav ul li{
     display: inline-block;


 }
 header .nav ul li a:hover{
     border-bottom: 2px solid #ffffff;
     background-color: black;
     -webkit-transform:scale(2.0);

 }
 header .nav ul li a{
    color: #ffffff;
    font-size: 20px;
    padding: 4px 10px;
    margin: 0px 4px ;
    text-decoration: none;
    font-family: 'Fira Code', monospace;
    }
header .hero img:hover{

    -webkit-transform:scale(1.15);
    transition:all .90s ease-in-out;
    
    
}
header .hero{
    margin-top: 100px;
    text-align: center;
}
header .hero h1{

    margin-top: 70px;
    color: #ffffff;
}

header  .hero h3{
    color: #ffffff;
    margin-bottom: 100px;
}
.servicios{
    width: 100%;
    
    position: relative no-repeat;
    padding-bottom: 200px;
    padding-top: 40px;    
    background-size: cover;   
    
}
.servicios h1{
    color: #ffffff;
    font-size: 60px;
}
.servicios h3{
    margin-top: 40px;
    color: #ffffff;
    text-justify: auto;
}

.nosotros h2{
    font-size: 40px;
    color: #ffffff;
}
.nosotros h1{
    font-size: 60px;
    color: #ffffff;
    text-align: center;
}